<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/api">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/viewUsers">
                    View Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/addUser">
                    Add User
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/editUser">
                    Edit User
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/deleteUser">
                    Delete User
                </a>
            </li>
        </ul>
    </div>
</nav>
